/* .monster {
  background-color: red;
  
  border: solid black;
}

.MainMonster {
  background-color: blue;
  padding: 50px;
}

.description {
  background-color: cadetblue;
} */

main {
  background-color: lightblue;
}